/* .App {
  text-align: center;
}

input{
  margin: 10px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;

}

ul{
  display: grid;
  place-items: center;
}

li{
  list-style-type: none;
  width: 300px;
  height: 40px;
  background-color: #00df6c;
  margin: 10px;
  padding-top: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  border-radius: 5px;
}

#task{
  display: flex;
  flex-direction: row;
  align-items: center;
}

button{
  height: 50px;
  width: 120px;
  margin: 5px;
  border: none;
  background-color: coral;
  border-radius: 5px;
  color: white;
}

button:hover{
cursor: pointer;
}

h1{
  font-family: monospace;
  margin-top: 40px;
  margin-bottom:30px;
}

input.inputBox{
  width: 300px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
}

.inputButton{
  background-color: #00df6c;
  color: white;
  border: none;
  border-radius: 5px;

} */